*{
	outline: 1px solid green;

}

/*.circle {
    width:200px;
    height:200px;
    border-radius:50%;
    opacity:33%;
}

#foo {
    background-color:#FF0000;
}


#bar {
    background-color:#00FF00;
}


#qux {
    background-color:#0000FF;
}

.container {
    position:relative;
    min-height: 300px;
 /*   right:whatever;
    top:whatever;*/
}*/